body {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    gap: 20px;

}

.content {
    display: flex;
    gap: 20px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

button {
    width: 250px;
    border: solid 1px lightgray;
    border-radius: 25px;
}

.cocktail {
    width: 350px;
    border: solid lightgray 2px;
    border-radius: 25px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
    height: auto;
}