body {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    gap: 20px;

}

.content {
    display: flex;
    gap: 20px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

button {
    width: 250px;
    border: solid 1px lightgray;
    border-radius: 25px;
}

.cocktails {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    height: max-content;
}

.cocktail {
    width: 350px;
    border: solid lightgray 2px;
    border-radius: 25px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 95%;
}

img {
    width: 100%;
    height: auto;
}

.ingredient {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}

.ingredient p {
    background-color: rgb(130, 235, 130);
    color: black;
    padding: 5px;
    margin: 0px;
    border: none;
    border-radius: 10px;
}